.team {
  background-color: var(--secondary-bg-color);

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__list-item {
    margin-top: 30px;
    margin-left: 30px;

    @media screen and (max-width: 767px) {
      & {
        flex-basis: 100%;
      }
    }
    @media screen and (min-width: 768px) {
      & {
        flex-basis: calc((100% - 2 * 30px) / 2);
      }
    }
    @media screen and (min-width: 1200px) {
      & {
        flex-basis: calc((100% - 4 * 30px) / 4);
      }
    }
  }
}

.team-member {
  &__photo {
    width: 100%;
  }
  &__thumb {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 1200px) {
      & {
        padding-bottom: 30px;
      }
    }
  }
}
