.backdrop {
  cursor: not-allowed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
