.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  background: #ffffff;
  outline: 2px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: 2px solid transparent;
    border: 1px solid var(--accent-color);
  }

  &__icon {
    fill: rgba(0, 0, 0, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .close-button:hover &,
    .close-button:focus & {
      fill: var(--accent-color);
    }
  }  
}