.features-description {
  color: var(--secondary-text-color);
  @include font(14px, 400, 1.7, 0.03em);
}
.team-member-description {
  @include font(16px, 400, 1.7, 0.03em);
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
