.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
}
