.section-title {
  @include font(28px, 700, 1.18, 0.03em);
  margin-bottom: 50px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    & {
      @include font(36px, 700, 1.2, 0.03em);
    }
  }
}
.features-thumb-title {
  display: inline-block;
  @include font(14px, 700, 1.2, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-thumb-title {
  display: inline-block;
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--white-color);
}
.team-member-title {
  @include font(16px, 500, 1.2, 0.03em);
  margin-bottom: 10px;
}
.project-title {
  @include font(18px, 700, 2, 0.06em);
  color: var(--primary-text-color);
}
