:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-style: normal;
  --secondary-bg-color: #f5f4fa;
  --basic-icon-color: #afb1b8;
}
